{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <h1>User ID #{{user.id}}</h1>
    <span>
        <form action="/users/edit/{{user.id}}" method="post">
            <label for="first_name">First Name:</label>
            <input maxlength="32" required="true" type="text" name="first_name" id="first_name" value="{{user.first_name}}">
            <label for="last_name">Last Name:</label>
            <input maxlength="32" required="true" type="text" name="last_name" id="last_name" value="{{user.last_name}}">
            <label for="image_url">Image URL:</label>
            <input required="true" type="url" name="image_url" id="image_url" value="{{user.image_url}}">
            <button type="submit">Submit</button>
        </form>
    </span>
{% endblock %}